<!DOCTYPE html>
<html style="background-color: #f8f6f8;">

<head>
    <title>IBM Cloud Web Starter</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.2/css/bulma.min.css"></link>
    {% load static %}
    <link rel="stylesheet" href="/static/css/default.css"></link>
    <script src="{% static 'js/bundle.js' %}" charset="utf-8"></script>
</head>

<body>
<div id="new-container">


    <h1 class="title">hello solly cat </h1>
    <h2 class="subtitle">my lovely cat</h2>

    <div class="link-section">
        <div class="left-link-items">

              <img src="{% static 'images/1.jpeg' %}">
        </div>
    </div>
</div>
</body>
</html>